<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSUIElement</key>
	<true/>
	<key>NSScreenCaptureUsageDescription</key>
	<string>TranScreen 需要录屏权限以截取屏幕内容进行翻译</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>TranScreen 需要辅助功能权限以注册全局快捷键</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>zh-Hans</string>
		<string>en</string>
	</array>
</dict>
</plist>
